<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>{{ page.title }}</title>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link href='https://fonts.googleapis.com/css?family=Nunito' rel='stylesheet'>
</head>
<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr>
      <td style="padding:2.5%">
        {{ content }}
      </td>
    </tr>
  </table>
</body>
</html>